.header {
  width: 100%;
  height: 80px;
  line-height: 80px;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

.logo h1 span {
  color: #01d293;
}

.nav__right i {
  color: #808dad;
}

.nav__right p {
  margin-bottom: 0;
}

.nav__right p::before {
  content: '';
  position: absolute;
  top: 25%;
  left: -20px;
  width: 1px;
  height: 14px;
  background: #808dad;
}

.nav__whatsApp {
  text-decoration: none;
  cursor: pointer;
  color: #808dad;
}

.nav__whatsApp:hover {
  color: #01d293;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2.8rem;
}

.header__shrink {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  box-shadow: 5px 5px 30px -5px #01d29344 !important;
  z-index: 10;
}

.mobile__menu {
  display: none;
}

.mobile__menu {
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .navigation_active {
    display: block !important;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #171f3897;
    z-index: 10;
    display: none;
  }

  .nav__right {
    display: none;
  }

  .mobile__menu {
    display: block !important;
  }

  .logo h1 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .header__shrink {
    height: 83px;
  }
}
