.form button {
  color: var(--color-secondary);
}

.form__input input,
.form__input textarea {
  width: 100%;
  border: none;
  outline: none;
  background: var(--color-tertiary);
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.form__input input::placeholder,
.form__input textarea::placeholder {
  color: var(--color-primary);
  font-size: 0.8rem;
}
