.testimonial__item {
  padding: 0px 20px;
}

.testimonial__client {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 30px;
}

.testimonial__client div h6 {
  font-weight: 400;
}

.testimonial__client h6:last-child {
  color: var(--color-secondary) !important;
}
