.about__icon i {
  color: var(--color-secondary);
}

.about__image {
  padding: 10px;
  background: var(--color-tertiary);
  margin-bottom: 20px;
  border-radius: 5px;
}

.about__image img {
  width: 100% !important;
  border-radius: 5px;
}

.about__image_box {
  width: 200px !important;
}

@media only screen and (max-width: 1000px) {
  .about__gallery {
    justify-content: center !important;
    margin-top: 30px;
  }

  .about__content h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 420px) {
  .about__image_box {
    width: 150px !important;
  }
}
