.nav__menu {
  display: flex;
  align-items: center;
  column-gap: 2.8rem;
}

.nav__menu a {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  transition: var(--transition-primary);
}

.nav__menu a:hover {
  color: var(--color-secondary);
  opacity: 0.9;
}

@media screen and (max-width: 1000px) {
  .nav__menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
}
