.portfolio__item {
  background: var(--color-tertiary);
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  height: 100%;
  transition: 0.3s ease-in;
  opacity: 0.8;
  transition: var(--transition-primary);
}

.portfolio__item:hover {
  opacity: 1;
}

.portfolio__item h6 {
  color: var(--color-secondary);
  margin-bottom: 20px;
  background: transparent;
  cursor: pointer;
  transition: var(--transition-primary);
}

.portfolio__item h6:hover {
  color: #fff;
}

.portfolio__keyword {
  padding: 5px 10px;
  color: #fff;
  background: var(--color-primary);
  font-size: 0.7rem;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.portfolio__image {
  margin: 20px 0px;
  background: transparent;
  cursor: pointer;
}

.portfolio__image img {
  border-radius: 10px;
}

.portfolio__link {
  background: transparent;
}

.portfolio__link a {
  background: var(--color-tertiary) !important;
}

.portfolio__text {
  background: transparent;
  height: 4rem;
  cursor: pointer;
  transition: var(--transition-primary);
}

.portfolio__text:hover {
  color: var(--color-secondary);
}

@media only screen and (max-width: 1400px) {
  .portfolio__text {
    height: 5rem;
  }
}

@media only screen and (max-width: 576px) {
  .portfolio__item {
    opacity: 1;
  }
  .portfolio__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
