@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body {
  font-family: 'Quicksand', sans-serif !important;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background: #0e1630;
}

p {
  color: #808dad;
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

h1,
h2 {
  font-size: 2.5rem;
}

section {
  padding-top: 150px;
}

footer {
  padding-bottom: 10px;
  padding-top: 60px;
  border-top: 1px solid #171f38;
}

.primary__btn {
  background: #171f38 !important;
  padding: 7px 20px !important;
  border: 1px solid #01d293 !important;
  border-radius: 5px;
}

.primary__btn a {
  text-decoration: none;
  color: #01d293;
  background: transparent !important;
}

.secondary__btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 7px 25px;
}

.secondary__btn a {
  color: #01d293 !important;
  text-decoration: none;
}

.primary__btn a:hover,
.secondary__btn a:hover {
  color: #01d293;
}
